@model RegisterViewModel
@{
    ViewData["Title"] = "Registrar usuario";
}
<link href="~/css/Userregister.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div class="Allcontent" id="formContent" style="background-color:#B3B3D9;">

        

        <!-- Login Form -->
        <form id="ccSelectForm" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div class="m-5">

                <h4 class="fadeIn first ">Informacion Personal</h4>
                <div class="fadeIn first">
                    <i class="fas fa-users"></i>
                </div>

                <!---User Information-->
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <div class="">
                                <input  type="text" asp-for="FirstName" class="fadeIn second form-control" placeholder="Nombre"/>
                                <span asp-validation-for="FirstName" class="text-danger" ></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <div class="">
                                <input  type="text" asp-for="LastName" class="fadeIn second form-control" placeholder="Apellido"/>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <div class="">
                            <input asp-for="Email" class="fadeIn fourth form-control" placeholder="Correo Electronico" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="password" asp-for="Password" class="fadeIn six form-control" placeholder="Contraseña" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="password" asp-for="ConfirmPassword" class="fadeIn seven form-control" placeholder="Confirme Contraseña" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                </div>
                <div id="formFooter">
                    <input type="submit" class="fadeIn eight btn btn-default" value="Registrar">
                </div>
                    
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

